<div class="jumbotron" style="background-image: url('https://cdn.mwallpapers.com/photos/celebrities/textures/modern-textured-wallpaper-design-build-pros-android-iphone-hd-wallpaper-background-downloadhd-wallpapers-desktop-background-android-iphone-1080p-4k-msnx1.png'); background-size: 100% auto  " >
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2>Change Password</h2>
                <form [formGroup]="changepwdForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Enter Username:</label>
                        <input type="text" placeholder="Username" [(ngModel)]="admin.aname" id="aname" formControlName="aname" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['aname'].errors}">

                        <div *ngIf="submitted && f['aname'].errors" class="invalid-feedback">
                            <div *ngIf="f['aname'].errors['required']" style="color: red;">
                                Username Required!
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Enter Password:</label>
                        <input type="password" placeholder="Password" [(ngModel)]="admin.apassword" id="apassword" formControlName="apassword" class="form-control"
                            [ngClass]="{'is-invalid':submitted && f['apassword'].errors}">

                        <div *ngIf="submitted && f['apassword'].errors" class="invalid-feedback">
                            <div *ngIf="f['apassword'].errors['required']" style="color: red;">
                                Password Required!
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="changepwd">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div *ngIf="r===true;">
    <h5 style=" text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;"> Password changed, Please login again </h5>
</div>
<div *ngIf="r===false;">
    <h5 style=" color: red; text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif;"> Invalid Username! Please try again </h5>
</div>