<html>


<body>
<div class="container">
    <h1 style="font-weight: bold; font-family: cursive;">Driving tutorials</h1>
    <div class="row">
        <div class="col">
            <div class="small-img-row">
                <div class="small-img">
                    <youtube-player 
                    videoId="UnqOmbR2qNs"
                    suggestedQuality="highres"
                    [height]="200"
                    [width]="600"
                    [startSeconds]="0"
                [endSeconds]="487"></youtube-player>
                </div>
                <p style="font-weight: bold; font-size: medium;">Tips for safe driving</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <youtube-player 
                    videoId="M-KAvYZrpIg"
                    suggestedQuality="highres"
                    [height]="200"
                    [width]="600"
                    [startSeconds]="0"
                [endSeconds]="448"></youtube-player>
                </div>
                <p style="font-weight: bold; font-size: medium;">Traffic signs</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <youtube-player 
                    videoId="bUwPNVEBZxA"
                    suggestedQuality="highres"
                    [height]="200"
                    [width]="600"
                    [startSeconds]="0"
                [endSeconds]="244.2"></youtube-player>
                </div>
                <p style="font-weight: bold; font-size: medium;">Traffic rules</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <youtube-player 
                    videoId="Qox41xUgriQ"
                    suggestedQuality="highres"
                    [height]="200"
                    [width]="600"
                    [startSeconds]="0"
                [endSeconds]="682.2"></youtube-player>
                </div>
                <p style="font-weight: bold; font-size: medium;">How to change gears</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <youtube-player 
                    videoId="2LTyiq7mcUw"
                    suggestedQuality="highres"
                    [height]="200"
                    [width]="600"
                    [startSeconds]="0"
                [endSeconds]="543.6"></youtube-player>
                </div>
                <p style="font-weight: bold; font-size: medium;">When to change gear</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <youtube-player 
                    videoId="em1O8mz7sF0"
                    suggestedQuality="highres"
                    [height]="200"
                    [width]="600"
                    [startSeconds]="0"
                [endSeconds]="423.6"></youtube-player>
                </div>
                <p style="font-weight: bold; font-size: medium;">Understanding your cars steering and power steering</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <youtube-player 
                    videoId="J3SDBmVcDXs"
                    suggestedQuality="highres"
                    [height]="200"
                    [width]="600"
                    [startSeconds]="0"
                [endSeconds]="184.2"></youtube-player>
                </div>
                <p style="font-weight: bold; font-size: medium;">How to turn your steering wheel correctly</p>
            </div>
            <div class="small-img-row">
                <div class="small-img">
                    <youtube-player 
                    videoId="b-a8gHZxjEY"
                    suggestedQuality="highres"
                    [height]="200"
                    [width]="600"
                    [startSeconds]="0"
                [endSeconds]="420.6"></youtube-player>
                </div>
                <p style="font-weight: bold; font-size: medium;">Accelerator and break pedals</p>
            </div>
        </div>
    </div>
</div>
<div style="text-align: center; font-size: large; background-color:black; font-family: Georgia, 'Times New Roman', Times, serif;">
    <a routerLink="/studentlogin/studdash" style="color: red;">Click here to go back to dashboard</a>
</div>

</body>
</html>