

 <div style="text-align: center;" >
    <h2 style="background-color: rgba(164, 170, 172, 0); text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif"> <span style="color: rgb(251, 6, 6);"> S</span>tudent <span style="color: rgb(251, 11, 11);">D</span>ashboard</h2>
</div> 

<div data-spy="scroll" data-target=".navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="color: brown;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="choosepkg" class="nav-link">Choose Package</a>
            </li>
            <li class="nav-item">
                <a routerLink="viewvideos" class="nav-link">View Videos</a>
            </li>
            <li class="nav-item">
                <a routerLink="changepwdstudent" class="nav-link">Change Password</a>
            </li>
            <li class="nav-item">
                <a routerLink="studentlogout" class="nav-link">Logout</a>
            </li>

        </ul>
    </nav>
</div>
<router-outlet></router-outlet>
