<h2 style=" color:rgb(17, 8, 10) ;  background-color: antiquewhite;  text-align: center; font-family: Verdana, Geneva, Tahoma, sans-serif"> <span style="color: rgb(245, 0, 0);" >P</span>ackage <span style="color: rgb(255, 0, 0);" >D</span>etails</h2>
<hr>

<div class="dropdown"> <h5  style="color: rgb(66, 58, 58);  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif " >Please select location</h5>
    <button class="btn btn-warning dropdown-toggle" type="button" id="packlocation" data-toggle="dropdown">
        Package Location</button>

        
    <ul class="dropdown-menu">
        <li><button class="dropdown-item" id="localpack" (click)="showLocalPackages()">Local</button></li>
        <li><button class="dropdown-item" id="remotepack" (click)="showRemotePackages()">Remote</button></li>
    </ul>
</div>

<div style="text-align: center;">
<table class="table table-dark table-striped table-bordered">
    <thead>
        <tr>
            <th>Package Name</th>
            <th>Starting Date</th>
            <th>Package Vehicle</th>
            <th>Trainer Name</th>
            <th>Trainer Location</th>
            <th>Trainer Experience(in years)</th>
        </tr>
    </thead>
    <tbody *ngFor="let p of packages" class="container-fluid">
        <tr>
            <td>{{p.pname}}</td>
            <td>{{p.pstartingdate}}</td>
            <td>{{p.pvehicle}}</td>
            <td>{{p.ptrainername}}</td>
            <td>{{p.ptrainerlocation}}</td>
            <td>{{p.ptrainerexp}}</td>
            <td> <button routerLink="booksuccess" class="btn btn-success" id="book" (click)="book(this.p)">Book</button> </td>
        </tr>
    </tbody>
</table>
</div>
<div style="text-align: center; font-size: large;  background-color: rgb(255, 255, 255); font-family: Verdana, Geneva, Tahoma, sans-serif;">
    <a routerLink="/studentlogin/studdash" style="color: coral;" >Click here to go back to dashboard</a>
</div>
<router-outlet></router-outlet>